<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panier</title>
    <link rel="stylesheet" href="../public/style.css">
</head>

<body>
    <h1>Ajouter un article</h1>
    <form action="/addProduit" method="POST">
        <div>
            <label for="productName">Nom du produit</label>
            <input type="text" name="productName" id="productName">
        </div>
        <div>
            <label for="productPrice">Prix du produit</label>
            <input type="number" name="productPrice" id="productPrice">
        </div>
        <div>
            <label for="category">Catégorie</label>
            <select name="category" id="category">
                <% categories.forEach(category => { %>
                    <option value="<%= category.id_categorie %>">
                        <%= category.nom %>
                    </option>
                <% }); %>
            </select>
        </div>
        <button type="submit">Ajouter le produit</button>
    </form>
</body>

</html>