:root {
  --bg-orange: #F69946;
  --bg-beige: #FCF9F4;
}
html, body, #app {
  height: 100%;
  margin: 0;
}

::deep.v-application {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.v-main {
  flex: 1;
} */

.detail-item {
  color: var(--bg-orange);
}
.detail-item-background {
  background-color: var(--bg-orange);
}
.fond-clair {
  background-color: var(--bg-beige);
}
a {
  color: var(--bg-orange);
  text-decoration: none;
}