:root {
  --bg-orange: #F69946;
  --bg-beige: #FCF9F4;
  --bg-sombre: #3A3330;
}
html, body, #app {
  height: 100%;
  margin: 0;
}
.detail-item {
  color: var(--bg-orange);
}
.detail-item-background {
  background-color: var(--bg-orange);
}
.fond-clair {
  background-color: var(--bg-beige);
}
.fond-sombre {
  background-color: var(--bg-sombre);
}
a {
  color: var(--bg-orange);
  text-decoration: none;
}
.custom-btn {
  background-color: var(--bg-orange) !important;
  color: white !important;
}
.custom-btn:hover {
  background-color: #3A3330 !important;
}
.square-btn {
  width: 30px !important;
  height: 30px !important;
  min-width: 30px !important;
  border-radius: 8px !important;
}